# macOS
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!*.xcworkspace
xcuserdata/
*.xcuserstate
DerivedData/
*.xccheckout

# Build
build/
*.build/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.Package.resolved
*.swiftpm/xcshared/
*.xcodeproj/xcshared/

# Localization
*.lproj/

# User-specific
*.user
!default.user

# Environment
.env
.env.local

# Logs
*.log

# IDE
.idea/
.vscode/
*.swiftpm/config/registries.json
